.git
.github
.turbo
**/.turbo
node_modules
**/node_modules
apps/web/.next
apps/api/dist
coverage
**/coverage
*.log
.env
.env.local
.env.*.local
.vscode
.idea
**/*.md
fly.*.toml
Dockerfile
**/Dockerfile
.dockerignore
